:root
{
    --uncblue: RGB(1,45,91);
    --uncgold: RGB(254,189,54);
    --uncgray: RGB(235,235,235);
    --prettypurple: RGB(219, 192, 250);
    

    background-color: var(--prettypurple);
    color:cornflowerblue;
}
nav
{
    color:gold;
    border: 5px solid goldenrod;
}
nav li
{
    display:inline;
    margin: 10px;
}
nav ul
{
    text-align: center;
    padding-left: 0%;

}
h1
{
    font-size: 48pt;
    text-align: center;
    color:darkblue;
}
.date
{
    color:azure;
    font-weight: bold;
    font-size: 20pt;
    list-style-type: none ;
}
.location
{
    font-weight: bold;
    font-size: 20pt;
    
}
.major
{
    font-style: bold italic;
}
.entry 
{
    background-color:rgb(114, 34, 139);
    color:beige;
    border: 5px solid goldenrod;
    margin-top: 50px;
}   

h2
{
    text-align: center;
    text-shadow: 3px 3px 6px cyan;
    font-size: 36pt;
    margin-top: 5px;
}

h2 + p
{
    text-align: center;
}

h2 + p + a
{
    text-align: center;
    display: block;
}
p
{
    font-family: courier;
    color: RGB(25, 14, 43)
}

h3
{
    text-align: center;
    p.double {outline-style: double;}
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    border-radius: 35%;
    border-color: azure;
}

ul li
{
    font-weight: bold;
    text-align: center;
}

.footertext
{
    display: block;
    margin-top: 200px;
    text-align: center;
}
